<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  <script src="/javascripts/jspdf.js"></script>
  <script src="/javascripts/autotable.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>